@import './vars'
@import './fonts'

// @include font('GothamPro', '../assets/fonts/GothamPro')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;325;400;500;600;700;800;900&display=swap')


* 
    font-family: Montserrat
    box-sizing: border-box
    position: relative
    margin: 0
    padding: 0
    color: $text
    outline: none
    border: none
    text-decoration: none
    line-height: 1
    &:focus
        outline: none

p 
    font-weight: 400
    
    &._18
        font-size: 18px
        line-height: 25px
    &._16
        font-size: 16px
        line-height: 25px
a
    color: inherit

.center
    text-align: center

.left
    text-align: left

h2 
    text-align: center
    margin-bottom: 20px
    font-weight: 700
    font-size: 36px
    line-height: 50px

h3
    text-align: center
    margin-bottom: 20px
    font-weight: 400
    font-size: 24px
    line-height: 16px

.page
    padding-top: calc( 86px + 80px )
    &.main
        padding-top: 86px


.wrapper
    width: 1160px
    margin: 0 auto
    
span.underline
    display: inline-block
    &::after
        content: ''
        width: 100%
        height: 5px
        background: $gradi
        position: absolute
        bottom: -3px
        left: 0
        border-radius: 1px
    &.small
        &::after
            height: 4px
b
    font-weight: 700



@media (max-width: $phone) 
    .wrapper
        width: 100%
        padding-left: 20px
        padding-right: 20px
    h2
        font-size: 24px
        line-height: 36px
    p._18
        font-size: 14px
        line-height: 25px
    .page
        padding-top: calc(86px + 40px)