@import '../styles/vars'
    
    
.blog
    margin-bottom: 50px
    &__inner
        display: flex
        flex-direction: column
        align-items: center
    &__title
        margin-bottom: 20px
    &__subtitle
        margin-bottom: 50px
    &__box
        display: grid
        width: 100%
        grid-template-columns: repeat(auto-fill, 360px)
        grid-gap: 50px 40px
        margin-bottom: 50px
    &__button
        width: 360px
        height: 60px
        font-size: 16px

@media (max-width: $phone)
    .blog
        &__box
            display: flex
            flex-direction: column
            align-items: center
            gap: 30px
        &__slide
            width: 100%
        &__button
            width: 100%