@import '../styles/vars'
    
.main-page
    & .hero
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 100px
        &__left
            display: flex
            flex-direction: column
            align-items: flex-start
        &__right
        
        &__title
            font-weight: 700
            font-size: 50px
            line-height: 70px
            margin-bottom: 40px
        &__subtitle
            background: $gradi
            -webkit-background-clip: text
            color: transparent
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent
            font-weight: 400
            font-size: 28px
            line-height: 31px
            letter-spacing: 0.04em
            margin-bottom: 18px
        &__features
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 20px
            margin-bottom: 42px
        &__item
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 7.5px
            font-weight: 400
            font-size: 18px
            line-height: 148%
        &__button
            width: 300px
            height: 50px
            font-size: 16px
            &.mobile
                display: none
    & .programs
        margin-bottom: 100px
        &__title
            max-width: 617px
            margin: 0 auto
            margin-bottom: 20px
        &__subtitle
            margin-bottom: 50px
    

    & .why
        margin-bottom: 100px
        &__title
            margin-bottom: 50px
        &__box
            display: flex
            align-items: center
            gap: 60px 40px
            flex-wrap: wrap
        &__item
            width: calc( (100% - 80px) / 3 )
            display: flex
            flex-direction: column
            align-items: flex-start
            &-image
                width: 100px
                height: 100px
                margin-bottom: 20px
            &-title
                font-weight: 700
                font-size: 18px
                line-height: 25px
                margin-bottom: 10px
        
    & .connect
        margin-bottom: 100px
        height: 500px
        background: $gradi
        border-radius: $default-radius
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25))
        padding: 62px 100px 72px
        &__box
            display: flex
            flex-direction: column
            align-items: flex-start
            height: 100%
            & * 
                color: white
        &__title
            margin-bottom: 20px
        &__desc
            margin-bottom: auto
        &__download
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 10px
            &-link
                display: flex
                justify-content: center
                align-items: center
            &-img
                height: 45px
        &__phone
            position: absolute
            right: 0
            top: 0
            height: 100%
            z-index: -1
            width: 100%
            background-image: url('../assets/images/phone.png')
            background-repeat: no-repeat
            background-position: 100% 0%
    

    & .main-blog
        margin-bottom: 100px
        display: flex
        flex-direction: column
        align-items: center
        &__title
            margin-bottom: 20px
        &__subtitle
            margin-bottom: 50px
        &__box
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 50px
            width: 100%
        &__button
            width: 360px
            height: 60px
            font-size: 16px


    & .main-trainers
        margin-bottom: 100px
        &__title
            margin-bottom: 20px
        &__subtitle
            margin-bottom: 50px
        &__box
            display: flex
            justify-content: space-between
            align-items: center
            
    & .special
        overflow: hidden
        width: 100%
        height: 412px
        background: $text
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
        border-radius: $default-radius
        padding: 72px 100px 80px
        margin-bottom: 100px
        & * 
            color: white
        &__button
            width: 180px
            height: 50px
            font-size: 14px
            &.clear
                &::before
                    background: $text
        &__inner
            display: flex
            flex-direction: column
            align-items: flex-start
            height: 100%
        &__title
            margin-bottom: 20px
        &__subtitle
            margin-bottom: auto
        &__buttons
            display: flex
            justify-content: center
            align-items: center
            gap: 10px
        &__image
            position: absolute
            height: 100%
            bottom: -1px
            right: 108px
        

@media (max-width: $phone) 
    .main-page
        & .hero
            padding-top: 38px
            flex-direction: column
            gap: 20px
            &__left
                align-items: flex-start
                width: 100%
            &__image
                width: 100%
            &__subtitle
                font-size: 20px
                line-height: 19px
                letter-spacing: 0.04em
                margin-bottom: 10px
            &__title
                font-size: 28px
                line-height: 50px
                margin-bottom: 20px
            &__features
                margin: 0
            &__item
                font-size: 14px
                line-height: 20px

                &-icon
                    width: 17px
                    height: 17px
            &__button
                display: none
                &.mobile
                    display: block
                    width: 100%
            &__right
                gap: 40px
                display: flex
                flex-direction: column
        & .programs
            margin-bottom: 60px
            &__title
                margin-bottom: 30px
            &__subtitle
                & br
                    display: none
        & .why
            margin-bottom: 60px
            &__box
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 40px
            &__item
                width: 100%
                &-image
                    width: 80px
                    height: 80px
        
        & .connect
            padding: 20px
            width: 100%
            height: auto
            margin-bottom: 60px
            &__phone
                display: none
            &__desc
                margin-bottom: 30px
            &__download
                width: 100%
                justify-content: flex-start
                &-link
                    width: auto

        & .main-blog
            margin-bottom: 60px
            &__slide
                width: 260px
            &__button
                width: 100%
            
        & .main-trainers
            margin-bottom: 60px
            &__subtitle
                margin-bottom: 40px

        & .special
            width: 100%
            padding: 20px
            height: auto
            margin-bottom: 60px
            &__image
                display: none
            &__buttons
                flex-direction: column
                width: 100%
                gap: 20px
            &__button
                width: 100%
            &__subtitle
                margin-bottom: 30px
        
        

