.post-page
    &__title
        margin-bottom: 20px
        font-size: 36px
        line-height: 44px
    &__subtitle
        text-align: left
    &__info
        display: flex
        align-items: center
        gap: 10px
        color: #828282
        font-weight: 400
        font-size: 18px
        line-height: 25px
        margin-bottom: 20px
    &__dot
        width: 5px
        height: 5px
        border-radius: 50%
        background: #828282
    &__content
        display: flex
        flex-direction: column
        gap: 20px
        padding-bottom: 20px
        border-bottom: 1px solid #C4C4C4
        margin-bottom: 30px
    &__image
        border-radius: 5px
    &__paragraph
        font-size: 24px
        line-height: 29px
        margin-bottom: 40px
    &__form
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
        border-radius: 5px
        padding: 60px
        margin-bottom: 30px
        &-top
            display: flex
            gap: 40px
            margin-bottom: 30px
            & > *
                width: 100%
    &__comments
        display: flex
        flex-direction: column
        gap: 30px
        margin-bottom: 50px
    & .comment
        padding: 60px
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
        border-radius: 5px

    &__sim
        &-sub
            text-align: center
            font-weight: 400
            font-size: 18px
            line-height: 25px
            margin-bottom: 50px
    &__slider
        margin-bottom: 100px
.form-title
    margin-bottom: 40px
    text-align: center