.programs
    &__inner
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 100px
    &__title
        margin-bottom: 20px
        &-2
            margin-bottom: 50px
    &__subtitle
        margin-bottom: 50px
    &__filter
        margin-bottom: 50px
    &__topic
        margin-bottom: 20px
        &-bm
            margin-bottom: 30px
    & .carousel
        margin-bottom: 50px
    &__carousel-popular
        margin-bottom: 80px
    &__box
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 50px 40px
        width: 100%
        flex-wrap: wrap
        margin-bottom: 50px
    &__button
        width: 360px
        height: 60px
        font-size: 16px