@import '../styles/vars'
    
    
.program
    &__items
        display: flex
        align-items: center
        gap: 60px
        margin-top: auto
        margin-bottom: auto
    &__item
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 10px
        font-weight: 400
        font-size: 12px
        line-height: 148%
        & > span
            background: $gradi
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent
            font-weight: 700
            font-size: 36px
            line-height: 40px
    &__frame
        width: 560px 
        min-width: 560px !important
        max-width: 560px !important
    &__video
        height: 350px !important
        margin-bottom: 40px !important
    &__play
        cursor: pointer
    &__scrolling
        margin-bottom: 151px

@media (max-width: $phone) 
    .program
        &__video
            height: auto !important
            width: 100% !important
            max-width: 100% !important
            min-width: 100% !important
            margin-bottom: 30px !important
        &__frame
            width: 100% !important
            max-width: 100% !important
            min-width: 100% !important
        &__item
            font-size: 10px
            gap: 5px
            & > span
                font-size: 30px
        &__items
            margin-top: 20px
            gap: 0px
            justify-content: space-between
            width: 100%
        &__scrolling
            margin-bottom: 30px
        &__title
            text-align: center
            width: 100%