@import '../styles/vars'
.purchase
    &__inner
        display: flex
        flex-direction: column
        align-content: inherit
    &__title
        margin-bottom: 30px
    &__subtitle
        margin-bottom: 63px
    &__box
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 80px
    &__item
        width: 360px
        padding: 23px 30px 47px
        background: white
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: $default-radius
        background: $gradi

        &::before
            top: 2px
            left: 2px
            width: calc( 100% - 4px )
            height: calc( 100% - 4px )
            border-radius: 3px
            z-index: 0
            content: ''
            background-color: white
            position: absolute
        &-top
            margin-bottom: 10px
            line-height: 100%
        &-title
            font-weight: 700
            font-size: 20px
            line-height: 24px
            margin-bottom: 25px
        &-list
            margin-bottom: 34px
            display: flex
            flex-direction: column
            gap: 20px
            padding-left: 30px
            list-style-type: none
        &-li
            line-height: 22px
            font-weight: 400
            font-size: 18px
            &::before
                content: '·'
                position: absolute
                left: -20px
                display: block
                font-size: 25px
                line-height: 22px

        &-box
            display: flex
            width: 100%
            justify-content: space-between
            align-items: center
            margin-bottom: 37px
        &-price
            font-weight: 700
            font-size: 24px
            line-height: 29px
            &-old::after
                top: 50%
                transform: translateY(-50%)
                left: -5%
                width: 110%
                height: 2px
                content: ''
                z-index: 1
                position: absolute
                background: $text
    &__button
        width: 100%
        height: 50px
                
@media (max-width: $phone) 
    .purchase
        &__box
            flex-direction: column
            gap: 30px
        &__item
            width: 100%
            &-title
                font-size: 18px
                line-height: 22px
                margin-bottom: 27px
            &-li
                font-size: 16px
                line-height: 20px
            &-list
                gap: 20px
                margin-bottom: 30px
            &-price
                font-size: 22px
                line-height: 27px