@import '../styles/vars'
    
    
.questions
    margin-bottom: 100px
    &__title
        margin-bottom: 20px
    &__subtitle
        margin-bottom: 50px
    &__box
        border-top: 1px solid #C4C4C4
    &__item
        display: flex
        flex-direction: column
        border-bottom: 1px solid #C4C4C4
        padding-bottom: 40px

        &-top
            display: flex
            justify-content: space-between
            align-items: center
            padding-top: 34px
            padding-left: 28px
            padding-right: 6px
            cursor: pointer
        &-title
            font-weight: 700
            font-size: 18px
            line-height: 17px
        &-body
            padding-left: 28px
            padding-right: 98px
            &._opened
                margin-top: 30px
        &-button
            transition: .3s
            &._opened
                transform: rotate(-45deg)        



@media (max-width: $phone) 
    .questions
        margin-bottom: 60px
        &__title
            margin-bottom: 20px
        &__subtitle
            margin-bottom: 40px
        &__item
            padding-left: 0
            padding-right: 0
            padding-bottom: 20px
            &-top
                padding-left: 0
                padding-top: 20px
                padding-right: 0
            &-title
                font-size: 12px
            &-button
                width: 16px
                height: 16px
            &-body
                padding: 0
                font-weight: 400
                font-size: 12px
                line-height: 25px
            