@import '../styles/vars'
    
.reviews
    margin-bottom: 100px
    &__title
        margin-bottom: 20px
    &__subtitle
        margin-bottom: 50px
    
@media (max-width: $phone) 
    .reviews
        margin-bottom: 60px
        &__title
            margin-bottom: 20px
        &__subtitle
            margin-bottom: 40px
        &__prev, &__next
            display: none
        &.carousel
            margin: 0
        & .carousel__arrows
            display: none