@import '../styles/vars'
    
    
.trainer
    padding-top: 86px
    &__upper
        background: $footer
        width: 100%
        height: 614px
        margin-bottom: 67px
    &__subtitle
        background: $gradi
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        font-weight: 400
        font-size: 28px
        line-height: 27px
        letter-spacing: 0.04em
    &__inner
        &.h
            display: flex
            justify-content: space-between
            height: 100%
    &__left
        margin-top: 115px
        display: flex
        flex-direction: column
    &__title
        font-weight: 700
        font-size: 50px
        line-height: 70px
        margin-bottom: 20px
        color: white
        
    &__info
        color: white
        display: flex
        align-items: center
        gap: 10px
        margin-bottom: 16px
        & > span
            color: white
            font-weight: 700
            font-size: 30px
            line-height: 30px
    &__button
        width: 300px
        height: 50px
        font-size: 16px
        letter-spacing: 0.05em
        margin-top: 40px
        &.mobile
            display: none
    &__frame
        width: 560px
        height: 100%
        display: flex
        justify-content: center
        align-items: flex-end
    &__background
        position: absolute
        left: 0
        bottom: 0
        width: 100%
    &__h2
        margin-bottom: 20px
        &.m
            margin-bottom: 50px
    &__p
        margin-bottom: 50px
    &__others
        margin-bottom: 100px
    &__about
        height: 350px !important
        margin-bottom: 133px !important
    &__programs
        margin-bottom: 100px

@media (max-width: $phone) 
    .trainer
        &__subtitle
            font-size: 20px
            line-height: 19px
        &__title
            font-size: 28px
            line-height: 50px
            margin-bottom: 15px
        &__upper
            height: auto
            padding-bottom: 20px
        &__left
            width: 100%
            margin-top: 38px
        &__frame
            width: 100%
        &__inner
            &.h
                flex-direction: column
                height: auto
        &__button
            width: 100%
            display: none
            &.mobile
                display: flex
        &__info
            margin-bottom: 15px
            font-size: 14px
            line-height: 24px
            & > span
                font-size: 24px
                line-height: 24px
        &__image
            width: 72%
        &__about
            height: auto !important
            margin-bottom: 60px !important
        &__others, &__programs
            margin-bottom: 60px
        &__h2
            margin-bottom: 30px
            text-align: center
            &.m
                margin-bottom: 30px

