@import '../styles/vars'
    
.video
    display: flex
    align-items: flex-start
    height: 470px
    gap: 50px
    margin-bottom: 100px
    &__left
        min-width: 650px
        max-width: 650px
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        background-color: $text
        border-radius: 6px
        overflow: hidden
        &::before
            content: ''
            position: absolute
            background-image: url('../assets/images/video_background.png')
            top: 0  
            left: 0
            width: 100%
            height: 100%
            z-index: 0
            opacity: 0.6
            background-position: center
            background-size: cover

    &__right
        display: flex
        flex-direction: column
        align-items: flex-start
        height: 100%
    &__title
        margin-bottom: auto
    &__button
        width: 230px
        height: 50px
        font-size: 14px


@media (max-width: $phone) 
    .video
        flex-direction: column-reverse
        height: auto
        gap: 30px
        &__title
            margin-bottom: 30px
        &__left
            width: 100%
            max-width: 100%
            min-width: 100%
            height: 240px

