@import '../../styles/vars'
    
.blog-slide
    width: 360px
    display: flex
    flex-direction: column
    border-radius: $default-radius
    overflow: hidden
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25))
    &__frame
        height: 180px
        width: 100%
        background-position: center
        background-size: cover
    &__info
        background: white
        padding: 16px 30px 23px
    &__title
        font-weight: 400
        font-size: 16px
        line-height: 25px
        margin-bottom: 16px
    &__misc
        & * 
            color: #828282
        display: flex
        align-items: center
    &__likes
        display: flex
        align-items: center
        gap: 5px
        margin-left: auto
    