@import '../../styles/vars'
    
.program-slide
    max-width: 260px
    // width: 100%
    min-width: 260px
    display: flex
    flex-direction: column
    background: white
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    border-radius: $default-radius
    overflow: hidden
    &__frame
        height: 260px
    &__info
        display: flex
        justify-content: space-between
        align-items: center
    &__bottom
        padding: 11px 17px 12px
    &__item
        background: $gradi
        -webkit-background-clip: text
        color: transparent
        display: flex
        align-items: center
        gap: 7px
        font-weight: 400
        font-size: 16px
        line-height: 18px
    &__name
        margin-bottom: 10px
        font-weight: 700
        font-size: 16px
        line-height: 15px
    