@import '../../styles/vars'
    
.review-slide
    width: 360px
    border-radius: $default-radius
    overflow: hidden
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
    &__frame
        height: 300px
        background-size: contain
        background-repeat: no-repeat
        background-position: center
    &__info
        display: flex
        align-items: center
        flex-direction: column
        gap: 10px
        padding: 10px 10px 30px
        & *
            text-align: center
    &__name
        font-weight: 400
        font-size: 16px
        line-height: 25px
    &__text
        color: #828282
        font-size: 16px
        line-height: 25px


@media (max-width: $phone) 
    .review-slide
        width: 260px
        &__frame
            height: 220px