@import '../../styles/vars'
    
.trainer-slide
    width: 260px
    border-radius: $default-radius
    overflow: hidden
    background: white
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    &__frame
        height: 260px
        width: 100%
        background-size: contain
        background-repeat: no-repeat
    &__info
        display: flex
        flex-direction: column
        align-items: flex-start
        padding: 18px 15px 19px
    &__name
        font-weight: 700
        font-size: 16px
        line-height: 15px
        margin-bottom: 15px
    &__misc
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
    &__item
        display: flex
        justify-content: center
        align-items: center
        gap: 7px
        background: $gradi
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        font-weight: 400
        letter-spacing: 0.05em
        font-size: 16px
        line-height: 16px

