@import '../../styles/vars'
    
    
.profile-index
    width: 100%
    &__box
        display: flex
        margin-bottom: 27px
        gap: 20px
        align-items: center
    &__image
        display: flex
        justify-content: center
        align-items: center
        width: 90px
        height: 90px
        background: $gradi
        border-radius: 10px
        font-weight: 400
        font-size: 40px
        line-height: 44px
        letter-spacing: 0.05em
        color: white
    &__name
        font-weight: 700
        font-size: 18px
        line-height: 16px
    &__trophies
        display: flex
        gap: 30px
        align-items: center
        margin-bottom: 64px
    &__sides
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 50px
        gap: 50px
    &__feed
        &-items
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 30px
        &-item
            display: flex 
            align-items: center
            gap: 15px
            & > div
                display: flex
                flex-direction: column
                align-items: flex-start
                justify-content: space-between
                height: 60px
        &-image
            width: 60px
            height: 60px
        &-name
            display: flex
            align-items: center
            gap: 10px
            font-weight: 700
            font-size: 16px
            line-height: 16px
        &-date
            font-weight: 400
            font-size: 12px
            line-height: 16px
            color: #828282
        &-desc
            font-weight: 400
            font-size: 12px
            line-height: 16px
        &-link
            display: inline-block
            background: $gradi
            -webkit-background-clip: text
            color: transparent
    
    &__achieved
        &-container
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 30px
        &-item
            display: flex
            align-items: center
            gap: 15px
        &-num
            font-weight: 700
            font-size: 18px
            line-height: 16px
        &-desc
            font-weight: 400
            font-size: 16px
            line-height: 16px
        &-box
            height: 40px
            display: flex
            flex-direction: column
            justify-content: space-between

@media (max-width: $phone) 
    .profile-index
        width: 100%
        &__trophies
            flex-wrap: wrap
            gap: 21px
            margin-bottom: 60px
        &__sides
            width: 100%
            flex-direction: column-reverse
        &__feed
            &-items
                gap: 20px
            &-image
                width: 56px
                height: 56px
            &-name
                font-size: 14px
        &__item
            &-desc
                font-size: 12px
                line-height: 16px