@import '../../styles/vars'
    
.personal
    &__avatar
        display: flex
        gap: 15px
        align-items: flex-start
        margin-bottom: 30px
        &-image
            width: 90px
            height: 90px
            object-fit: cover
        &-box
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 12px
        &-buttons
            display: flex
            gap: 15px
        &-misc
            font-weight: 400
            font-size: 14px
            line-height: 16px
            color: #787878
    &__button
        &-avatar
            height: 36px
            width: auto
            padding-left: 30px
            padding-right: 30px
            font-size: 14px
    &__layout
        display: grid
        grid-template-columns: 460px 460px
        grid-gap: 20px 40px 
    &__input
        height: 50px
    &__buttons
        display: flex
        justify-content: space-between
        gap: 20px
        height: 50px
        &-box
            display: flex
            flex-direction: column
            gap: 8px
            font-weight: 400
            font-size: 18px
            line-height: 25px
    &__button
        height: 50px
        width: 100%
        font-size: 14px
    &__bottom
        margin-top: 10px
        display: flex
        margin-left: auto
        gap: 20px
        width: 100%

@media (max-width: $phone) 
    .personal
        &__avatar
            width: 100%
            margin-bottom: 20px
            &-image
                height: 82px
                width: 82px
            &-box
                width: 100%
                height: 82px
            &-buttons
                flex-direction: column
                width: 100%
                justify-content: space-between
                gap: 0px
                height: 100%
            &-misc
                width: 100%
                margin-bottom: 30px
                font-size: 14px
                & > br
                    display: none
        &__button
            &-avatar
                width: 100%

        &__layout
            display: flex
            flex-direction: column
        &__buttons
            gap: 10px
            height: auto
            & > .button
                width: 100%
                height: 36px
                font-size: 12px
        &__bottom
            gap: 20px
            margin-top: 10px
            flex-direction: column
    .spacer
        display: none