@import '../../styles/vars'
    
    
.profile
    display: flex
    gap: 68px
    &__inner
        padding-top: calc(86px  + 55px)
        display: flex
        flex-direction: column
        width: 100%
        margin-bottom: 50px
        padding-right: 140px

h3 
    &.prof
        font-weight: 700
        font-size: 24px
        line-height: 23px
        margin-bottom: 30px
        text-align: left

.profile__line
    background: #D9D9D9
    width: 100%
    height: 2px
    margin-bottom: 16px

@media (max-width: $phone) 
    .profile
        flex-direction: column
        gap: 60px
        &__inner
            padding-top: 0
            padding-left: 20px
            padding-right: 20px

    h3.prof
        font-size: 20px
        line-height: 19px