@import '../../styles/vars'
    
.program-item
    display: flex
    padding: 20px
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
    flex-direction: column
    width: 460px
    // height: 290px
    border-radius: 5px
    &__top
        display: flex
        gap: 15px
        margin-bottom: 23px
    &__image
        width: 100px
        height: 100px
        border-radius: 5px
    &__desc
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical  
        overflow: hidden
        font-weight: 400
        font-size: 12px
        line-height: 16px
    &__name
        font-weight: 400
        font-size: 14px
        line-height: 13px
        margin-bottom: auto
    &__title
        font-weight: 700
        font-size: 18px
        line-height: 17px
        margin-bottom: 8px
    &__info
        display: flex
        flex-direction: column
    &__scroll
        margin-top: auto
    &__dots
        position: absolute
        top: 0
        right: 0

@media (max-width: $phone) 
    .program-item
        width: 100%
        padding: 20px
        &__top
            flex-direction: column
            width: 100%
        &__image
            width: 100%
            height: auto
        &__name
            margin-bottom: 14px
        