@import '../../styles/vars'
    
    
.progress
    &__layout
        display: flex
        gap: 40px
    &__fields
        width: 360px
        display: flex
        flex-direction: column
        gap: 20px
    &__title
        &-nm
            margin-bottom: 10px !important
    &__switcher
        width: 100%
        display: flex
        gap: 25px
        margin-bottom: 20px
    &__button
        height: 50px
        width: 100%
        font-size: 14px
        &.bottom
            width: calc( (100% - 40px) / 2 )
            margin-left: auto
    &__photos
        width: 560px
    &__subtitle
        font-weight: 400
        font-size: 18px
        line-height: 25px
        margin-bottom: 8px
    &__content
        display: flex
        gap: 40px
        margin-bottom: 53px
    &__item
        width: 260px
        display: flex
        flex-direction: column
    &__frame
        width: 100%
        height: 359px
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        border-radius: 5px
    &__add
        width: 100%
        height: 359px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        background: $gradi
        border-radius: 5px
        &::before
            top: 2px
            left: 2px
            width: calc( 100% - 4px )
            height: calc( 100% - 4px )
            border-radius: 3px
            z-index: 0
            content: ''
            background-color: white
            position: absolute
        &-input
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            cursor: pointer
            opacity: 0
            z-index: 2
    &__date
        position: absolute
        bottom: -24px
        left: 0
        font-weight: 400
        font-size: 16px
        line-height: 16px
        color: #828282

@media (max-width: $phone) 
    .progress
        &__layout
            flex-direction: column
        &__fields
            width: 100%
        &__photos
            width: 100%
        &__switcher
            width: 100%
            gap: 10px
            & .button
                height: 36px
                font-size: 14px
        &__button
            width: 100%
            &.bottom
                width: 100%
                margin: 0
        &__content
            flex-direction: column
        &__item
            width: 100%
        &__frame
            width: 100%
            height: 120vw