@import '../../styles/vars'
    
.sidebar
    min-width: 272px
    width: 272px
    background: white
    min-height: 100vh
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
    padding-left: 40px
    padding-right: 40px
    padding-top: calc( 86px + 24px )
    
    &__list
        display: flex
        position: sticky

        top: 86px
        left: 40px
        flex-direction: column
        gap: 24px
    &__item
        font-weight: 400
        font-size: 14px
        line-height: 16px
        display: flex
        align-items: center
        gap: 5px
        color: #828282
        &.active
            background: $gradi
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent
    &__line
        height: 1px
        width: 100%
        background: #D9D9D9
    &__logout
        display: flex
        align-items: center
        gap: 5px
        font-weight: 400
        font-size: 14px
        cursor: pointer
        line-height: 16px

@media (max-width: $phone) 
    .sidebar
        height: auto
        width: 100%
        min-height: auto
        padding-bottom: 25px
        padding-left: 20px
        padding-right: 20px