@import '../../styles/vars'
    
    
.subscription
    &__top
        display: flex
        align-items: center
        gap: 20px
        margin-bottom: 60px
    &__button
        width: 150px
        height: 36px
        white-space: nowrap
        font-size: 14px
        pointer-events: none
        &.unactive
            background: #EB5757
    &__title
        margin: 0
    &__methods
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 20px
        margin-bottom: 40px
    &__subtitle
        font-weight: 400
        font-size: 18px
        line-height: 17px
        margin-bottom: 40px
    &__method
        display: flex
        align-items: center
        gap: 20px
        &-date
            display: flex
            align-items: center
            gap: 10px
            font-weight: 400
            font-size: 16px
            line-height: 16px
            & > span
                color: #828282
    &__card
        font-weight: 400
        font-size: 16px
        line-height: 16px
    &__delete
        display: flex
        align-items: center
        gap: 2px
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #EB5757
        cursor: pointer
    & .grid
        width: fit-content
        display: grid
        grid-template-columns: 131px 231px 175px 181px 135px 107px
    &__table
        display: flex
        flex-direction: column
        gap: 30px
    &__header
        font-weight: 400
        font-size: 16px
        line-height: 16px
        color: #828282
    &__headers
        padding-bottom: 9px
        border-bottom: 1px solid #BDBDBD
    &__item
        padding-bottom: 30px
        border-bottom: 1px solid #BDBDBD
        &-field
            font-weight: 400
            font-size: 16px
            line-height: 16px
            display: flex
            align-items: center
            gap: 2px

@media (max-width: $phone) 
    .subscription
        &__top
            width: 100%
            margin-bottom: 32px
            gap: 0px
            justify-content: space-between
            white-space: nowrap
        &__method
            margin-bottom: 30px
            justify-content: space-between
            width: 100%
            font-size: 16px
            line-height: 16px
            &-date
                left: 0
                position: absolute
                top: calc( 100% + 20px )
                & > span
                    font-size: 14px
                    line-height: 16px
        &__table
            overflow-x: scroll
        &__header
            font-size: 14px
        &__button
            padding: 10px
            font-size: 14px
            width: auto
                