.trainings
    height: auto
    width: 960px
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 30px
        & *
            font-weight: 700
            font-size: 24px
            line-height: 23px
    &__video
        height: 600px
        margin-bottom: 50px
        border-radius: 5px
        overflow: hidden
    &__play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 125px
        height: 125px
    &__sample
        width: 100%
        height: 100%
        object-fit: cover
    &__input
        margin-bottom: 60px
    &__item
        display: flex
        flex-direction: column
        width: 210px
        gap: 10px
        height: auto
        min-width: 210px
        &-frame
            height: 160px
            background-repeat: no-repeat
            background-size: cover
            border-radius: 5px
            display: flex
            justify-content: center
            align-items: center
        &-time
            position: absolute
            right: 0
            bottom: 0 
            padding: 4px
            background: #E0E0E0
            border-radius: 5px 0px
        &-num
            color: #828282
            font-size: 22px
            line-height: 24px
        &-burn
            color: #828282
            font-size: 22px
            line-height: 22px
            display: flex
            align-items: center
        &-fire
            width: 14px
            margin-right: 7px
    &__trainings
        display: flex
        gap: 40px
        max-width: 100%
    &__wrapper
        overflow-x: scroll
        width: 960px
        margin-bottom: 50px
        &::-webkit-scrollbar
            display: none
    &__comments
        display: flex
        flex-direction: column
        margin-bottom: 30px
        &-top
            display: flex
            padding-top: 30px
            padding-bottom: 30px
            border-top: 1px solid #C4C4C4 
            border-bottom: 1px solid #C4C4C4 
            gap: 15px
            & .last
                margin-left: auto
                align-items: flex-end
            & div
                display: flex
                flex-direction: column
                gap: 8px
    &__program
        &-name
            font-weight: 700
            font-size: 18px
            line-height: 24px
        &-title
            font-weight: 400
            font-size: 18px
            line-height: 24px
        &-likes
            background: linear-gradient(180deg, #71EA87 0%, #24AA2D 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent
            display: flex
            align-items: center
            gap: 8px
            font-weight: 400
            font-size: 18px
            line-height: 24px
        &-like
            width: 19px
        &-completed
            font-weight: 400
            font-size: 16px
            line-height: 24px
            color: #828282
        &__image
            width: 60px
            height: 60px
            object-fit: cover
            border-radius: 3px
    & .comment
        padding-top: 30px
        padding-bottom: 30px
        border-bottom: 1px solid #C4C4C4