@import '../styles/vars'
    
.button
    display: flex
    justify-content: center
    align-items: center
    background: $gradi
    height: 50px
    padding: 0 30px
    color: white
    font-size: 16px
    line-height: 100%
    font-weight: 400
    letter-spacing: 0.05em
    text-transform: uppercase
    border-radius: $default-radius
    cursor: pointer
    overflow: hidden
    &__inner
        color: white
        display: flex
        align-items: center
        justify-content: center
        white-space: nowrap
    &__icon
        width: 0
        height: 0
        margin: 0
        transition: .3s
    &._red
        background: #EB5757
    &._clear
        &::before
            top: 2px
            left: 2px
            width: calc( 100% - 4px )
            height: calc( 100% - 4px )
            border-radius: 3px
            z-index: 0
            content: ''
            background-color: white
            position: absolute
        & .button__inner
            z-index: 1
            background: $gradi
            -webkit-background-clip: text
            color: transparent

    &:hover &
        &__icon
            width: 18px
            height: auto
            margin-left: 7px