.carousel
    width: 100%
    
    &__inner
        overflow: hidden
        padding: 20px
        margin: -20px
        box-sizing: content-box
    &__arrow
        position: static            
        &-next
            width: 48px
            height: 32px
            cursor: pointer
            background: url('../assets/images/arrow-next.svg')
            background-size: contain
            background-repeat: no-repeat
            background-position: center 
            &.absolute
                position: absolute
                transform: translateY(-50%)
                top: 50%
                right: -80px
        &-prev
            width: 48px
            height: 32px
            cursor: pointer
            background: url('../assets/images/arrow-prev.svg')
            background-size: contain
            background-repeat: no-repeat
            background-position: center 
            &.absolute
                position: absolute
                transform: translateY(-50%)
                top: 50%
                left: -80px
    &__arrows
        display: flex
        justify-content: center
        align-items: center
        margin-top: 56px
        gap: 31px


.swiper-wrapper
    display: flex
    width: 100%
    
.swiper-slide
    width: auto
.swiper
    width: 100%
    padding-bottom: 30px
    margin-bottom: -30px