.comment
    &__top
        display: flex
        align-items: center
        margin-bottom: 20px
        gap: 15px
    &__misc
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 5px
    &__name
        font-weight: 700
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.05em
    &__time
        font-weight: 400
        font-size: 16px
        line-height: 25px
        color: #828282
    &__text
        font-weight: 400
        font-size: 18px
        line-height: 22px
    &__image
        width: 50px
        height: 50px
        object-fit: contain
        border-radius: 5px