@import '../styles/vars'
    
    
.filter
    width: 100%
    display: flex
    align-items: center
    gap: 10px
    justify-content: center
    flex-wrap: wrap
    &.center
        gap: 30px
        justify-content: center
        & .button
            flex: none !important
    &__button
        width: fit-content
        height: 36px
        // min-width: fit-content
        white-space: nowrap
        font-size: 14px
        padding: 0px 10px
        text-transform: capitalize
        flex:1 0 auto

        & *
            letter-spacing: 0.05em


@media (max-width: $phone) 
    .filter
        gap: 10px
        justify-content: space-between
        
        &.center
            gap: 10px
            justify-content: center
        &__button
            flex:1 0 auto
            max-width: 48%
            width: auto
            padding: 0
            padding-left: 5px
            padding-right: 5px
            min-width: fit-content
        &.center &
            &__button
                width: 100%