@import '../styles/vars'
    
    
.footer
    margin-top: auto
    & *
        color: white
    &__main
        background: $text
        padding-top: 38px
        padding-bottom: 38px
    &__inner
        display: flex
        justify-content: space-between
    &__links
        display: grid
        grid-template-columns: auto auto auto
        grid-column-gap: 50px
        grid-row-gap: 18px
    &__link
        cursor: pointer
        font-weight: 400
        font-size: 16px
        line-height: 15px
        &.n
            cursor: default
    &__logo-link
        display: flex
        justify-content: center
        align-items: center
    &__creds
        background: $footer
    &__socials
        display: flex
        align-items: center
        justify-content: space-between
        width: 200px
    &__misc
        display: flex
        flex-direction: column
        align-items: center
        gap: 11px
    &__social
        display: flex
        align-items: center
        justify-content: center
        width: 30px
        height: 30px
        &-icon
            object-fit: contain
    &__creds
        display: flex
        justify-content: center
        align-items: center
        padding-top: 20px
        padding-bottom: 20px
        font-weight: 600
        font-size: 14px
        line-height: 19px
        color: #C4C4C4
    &__payment
        display: flex
        flex-direction: column
        gap: 12px
        &-row
            display: flex
            gap: 12.4px
            &.second
                gap: 10.5px


@media (max-width: $phone) 
    .footer
        height: auto
        &__inner
            display: flex
            flex-direction: column
            padding-left: 40px
            padding-right: 40px
        &__links
            display: flex
            flex-direction: column
            gap: 20px
            margin-bottom: 40px
        &__link
            font-size: 18px
            line-height: 17px
        &__logo
            width: 100%
            height: auto
            &-link
                height: auto
                width: 100%
        &__social
            width: 100%
            height: auto
            &-icon
                width: 100%
        &__socials
            justify-content: space-between
            width: 100%
            gap: 40px
        &__payment
            margin-bottom: 45px
            width: 100%
            &-row
                gap: 0px
                width: 100%
                justify-content: space-between
                &.second
