@import '../styles/vars'
    
.header
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 100
    padding: 25px 0 25px
    background: white
    height: 86px
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
    &-mobile
        &__button, &__menu
            display: none
    &__container
        
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        width: 192px
        &-link
            display: flex
            justify-content: center
            align-items: center
    &__buttons
        display: flex
        align-items: center
        justify-content: center
        gap: 15px
    &__button
        font-size: 14px
        line-height: 16
        height: 36px
        padding: 0 30px
    &__menu
        display: flex
        justify-content: center
        align-items: center
        gap: 35px
    &__item
        font-size: 16px
        line-height: 100%
        font-weight: 400
        letter-spacing: 0.04em
        text-transform: capitalize
        text-decoration: none
        &.active
            &::after
                position: absolute
                bottom: -2px
                left: 0
                width: 24px
                height: 2px
                background: $gradi
                content: ''
                display: block
    &__profile
        display: flex
        align-items: center
        gap: 15px
        font-weight: 400
        font-size: 14px
        line-height: 16px
    &__avatar
        display: flex
        justify-content: center
        align-items: center
        width: 36px
        height: 36px
        background: $gradi
        color: white
        font-size: 14px
        text-transform: uppercase
        border-radius: $default-radius

.logged .header
    &__container
        width: 100% !important
        padding-left: 40px
        padding-right: 40px
    

@media (max-width: $phone) 
    .line
        height: 4px
        position: absolute
        transform: translate(-50%, -50%)
        width: 100%
        background: $gradi
        border-radius: 1px
        transition: .3s
    .header
        padding: 0

        box-shadow: none
        &__item
            font-size: 24px
            line-height: 23px
        &__container
            height: 86px

            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
        &__menu
            display: none
        &__buttons
            display: none
        &__button
            width: 100%
            height: 50px
            font-size: 16px
        &-mobile
            &__buttons
                display: flex
                flex-direction: column
                width: 100%
                gap: 25px
                margin-top: auto
            &__button
                display: block
                width: 36px
                height: 28px
                &::before, &::after
                    height: 4px
                    position: absolute
                    width: 100%
                    background: $gradi
                    border-radius: 1px
                    display: block
                    content: ''
                    transition: .3s
                &::before
                    top: 0%
                    left: 0%
                &::after
                    top: calc(100% - 4px)
                    left: 0%
                &.opened
                    & .line
                        width: 0px
                    &::before
                        transform:  rotate(45deg)
                        left: 0
                        top: 40%
                        border-radius: 5px
                    &::after
                        transform:  rotate(-45deg)
                        top: 40%
                        bottom: 0%
                        border-radius: 5px

            &__line
                top: 50%
                left: 50%
            &__menu
                padding-bottom: 20px
                top: 0
                position: fixed
                height: 100vh
                padding-top: calc(86px + 60px)
                width: 100vw
                background: white
                z-index: -100
                right: -100%
                transition: .3s
                display: flex
                flex-direction: column
                align-items: flex-start
                padding-left: 20px
                padding-right: 20px
                gap: 60px
                &.opened
                    right: 0
    .logged .header
        &__container
            padding-left: 20px
            padding-right: 20px