@import '../styles/vars'
    
.ReactModal__Content
    width: auto
    z-index: 20 !important
    height: auto
    padding: 40px !important
    border: none !important
    box-sizing: border-box !important

.ReactModal__Overlay
    background-color: #00000050 !important
    z-index: 20 !important

.modal-title
    text-align: left
    font-weight: 400
    font-size: 24px
    margin: 0
    line-height: 23px

.modal-close
    position: absolute
    top: 4px
    right: 3px
    cursor: pointer
    width: 20px
    height: 20px
    z-index: 1
    &-img
        width: 100%
        height: 100%
.modal-content
    width: 100%

@media (max-width: $phone) 
    .ReactModal__Content
        width: 100vw
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        padding: 20px!important
    .modal-close
        right: 3px
        top: 4px