@import '../styles/vars'

input[type=range]
    -webkit-appearance: none
    width: 100%
    background: transparent
    

input[type=range]::-webkit-slider-thumb
    -webkit-appearance: none

input[type=range]:focus
    outline: none

input[type=range]::-ms-track
    width: 100%
    cursor: pointer

    background: transparent
    border-color: transparent
    color: transparent

input[type=range]::-webkit-slider-thumb
    -webkit-appearance: none
    border: none
    height: 30px
    width: 100px
    border-radius: 5px
    background: $gradi
    cursor: pointer
    margin-top: -10px

input[type=range]::-webkit-slider-runnable-track
    width: 100%
    height: 10px
    cursor: pointer
    background: #E0E0E0
    border-radius: 5px

.scrolling
    display: flex
    width: 100%
    flex-direction: column
    overflow: hidden
    width: auto
    &__bar
        width: 100%
        margin-bottom: 20px
        display: block
        height: 30px
    &__content
        display: flex
        gap: 40px
        align-items: center
        overflow-x: scroll
        width: auto
        &::-webkit-scrollbar
            display: none
    &__item
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 10px
    &__frame
        width: 160px
        height: 120px
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        border-radius: 5px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
    &__time
        position: absolute
        bottom: 0
        right: 0
        width: 50px
        height: 25px
        display: flex
        justify-content: center
        align-items: center
        background: #E0E0E0
        border-radius: 5px 0px
        color: black
        font-size: 14px
        line-height: 14px
    &__burn
        display: flex
        gap: 5px
        align-items: center
        font-size: 16px
        line-height: 18px
        color: #828282
    &__number
        font-size: 16px
        line-height: 18px
        color: #828282


.small
    & input[type=range]::-webkit-slider-thumb
        width: 30px
        height: 10px
        margin-top: -3px
        border-radius: 2px
    & input[type=range]::-webkit-slider-runnable-track
        height: 4px
    & .scrolling
        &__bar
            height: 12px
            margin-bottom: 20px
        &__frame
            width: 90px
            height: 70px
        &__icon
            width: 16px
            height: 16px
        &__time
            font-size: 8px
            line-height: 8
            width: 30px
            height: 14px
        &__content
            gap: 20px
        &__number
            font-size: 10px
        &__burn
            font-size: 10px
            line-height: 1
        &__fire
            width: 7px
            height: 7px
            margin-bottom: 3px
        &__item
            gap: 5px



@media (max-width: $phone) 
    input[type=range]::-webkit-slider-thumb
        width: 39px
        height: 10px
        margin-top: -3px
        border-radius: 2px
    input[type=range]::-webkit-slider-runnable-track
        height: 4px
    .scrolling
        &__bar
            height: 10px
        &__frame
            width: 90px
            height: 70px
        &__icon
            width: 16px
            height: 16px
        &__time
            font-size: 8px
            line-height: 8
            width: 30px
            height: 14px
        &__content
            gap: 20px
        &__number
            font-size: 10px
        &__burn
            font-size: 10px
            line-height: 1
        &__fire
            width: 7px
            height: 7px
            margin-bottom: 3px
        &__item
            gap: 5px
    .small
        & .scrolling
            &__content
                gap: 12.5px