@import '../styles/vars'

.text-field
    padding: 0.5rem
    border: double 2px transparent
    border-radius: $default-radius
    background-image: linear-gradient(white, white), $gradi
    background-origin: border-box
    background-clip: padding-box, border-box
    font-weight: 400
    font-size: 16px
    line-height: 24px
    padding-left: 15px
    padding-right: 15px
    width: 100%
    height: 50px
    &__label
        display: flex
        flex-direction: column
        gap: 8px
        font-weight: 400
        font-size: 18px
        line-height: 25px
    &__button
        position: absolute
        right: 7px
        height: calc( 100% - 14px )
        top: 50%
        transform: translateY(-50%)
        font-size: 14px
        padding-left: 20px
        padding-right: 20px
    &__area
        min-height: 200px
        height: 200px
        width: 100%
        min-width: 100%
        max-width: 100%
        max-height: 400px