@import '../../styles/vars'
    
.buy-modal
    width: 360px
    height: 500px
    &__title
        margin-bottom: 26px
    &__box
        display: flex
        flex-direction: column
        gap: 20px
        margin-bottom: 30px
    &__pricebox
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 30px
    &__button
        width: 100%
        font-size: 14px
    &__old
        font-weight: 400
        font-size: 18px
        line-height: 22px
        margin-right: 10px
        margin-left: auto
        &::after
            top: 50%
            transform: translateY(-50%)
            left: -5%
            width: 110%
            height: 2px
            content: ''
            z-index: 1
            position: absolute
            background: $text
            opacity: 0.7
    &__price
        font-weight: 700
        font-size: 24px
        line-height: 29px

@media (max-width: $phone) 
    .buy-modal
        width: 100%
        height: auto