@import '../../styles/vars'
    
.login-modal
    width: calc(440px - 80px)
    height: calc(450px - 80px)
    display: flex
    flex-direction: column
    &__title
        text-align: left
        font-weight: 400
        font-size: 24px
        margin: 0
        line-height: 23px
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 30px
    &__content
        display: flex
        flex-direction: column
        gap: 20px
        margin-bottom: 30px
    &__button
        width: 100%
        margin-bottom: auto
    &__bottom
        text-align: center
        font-weight: 400
        font-size: 18px
        line-height: 25px
    &__link
        display: inline-block
        background: $gradi
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent

@media (max-width: $phone) 
    .login-modal
        width: 100%
        height: auto
        &__button
            margin-bottom: 20px