@import '../../styles/vars'
    
    
.logout-modal
    display: flex
    flex-direction: column
    align-items: center
    width: 360px
    height: 425px
    &__img
        margin-bottom: 42px
    &__title
        margin-bottom: 20px
    &__sub
        font-weight: 400
        font-size: 18px
        line-height: 25px    
        margin-bottom: 34px
        text-align: center
    &__box
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
    &__button
        width: 170px
        height: 50px
        font-size: 14px
@media (max-width: $phone) 
    .logout-modal
        width: 100%
        height: auto
        &__box
            flex-direction: column
            gap: 20px
        &__button
            width: 100%