@import '../../styles/vars'
    
.password-modal
    width: 360px
    height: 445px
    &__box
        display: flex
        flex-direction: column
        gap: 20px
        margin-bottom: 30px
    &__button
        width: 100%
    &__title
        margin-bottom: 26px

@media (max-width: $phone)
    .password-modal
        width: 100%
        height: auto